extends layout

block content
    .container
        form(action='contact/send', method='post')
            legend Form title
            .form-group
                label(for='name') Name
                input.form-control(type='text', name='name', placeholder='Enter Name')
            .form-group
                label(for='email') Email
                input.form-control(type='text', name='email', placeholder='Enter Email')
            .form-group
                label(for='message') Message
                textarea.form-control(name='message', placeholder='Enter your message here')
            button.btn.btn-primary(type='submit') Submit

            
    